@import "../../app/app";
page-login {
  .icon{
    width: 80%;
  }
  .centerContainer {
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: white;
  }
  .underline{
    border-bottom: solid 1px gainsboro;
  }
  .iconcontainer{

  }
  ion-row{
    padding-top: 10px;
    color: grey;
    padding-bottom: 10px;
    .add{
      height: 20px;
    }
  }
  input{
    border: none;
    width: 50px;
  }
  .checkSend{
    background-color: #e7004f;
    color: white;
    border-radius: 5px;
    padding: 10px;
  }
  .loginButton{
    background-color: $myColorBlue;
    border-radius: 5px;
    height: 30px;
    color: white;
  }
  .hotNumber{
    margin-top: 250px;
  }
}
