page-contract-management-youwriting2 {
    .back{
        height: 50px;
    }
    .second{
        margin-left: 260px;
        
    }
    .next{
        width: 100%;
        position: absolute;
        margin-top: 520px;
    }
}
