page-contract-management-finish-working {
    .now{
        position: absolute;
        width: 100%;
        height: 120px;
        margin-top: 390px;
    }
    .now2 {
      position: absolute;
      width: 100%;
      margin-top: 485px;
    }
    .back{
        height:50px;
    }

}
