@import "../../app/app";
page-home {
  ion-content {
    ion-slides {
      height: 30%;
      .swiper-pagination-bullet {
        background: #8b8f99;
      }
      .swiper-pagination-bullet-active {
        background: white;
      }
    }
  }
  img{
    margin-top: 5px;
  }
  .openCard{
    position: absolute;
    width: 100%;
    height: 43px;
    top: 329px;
  }
  .openPhone{
    position: absolute;
    width: 100%;
    height: 43px;
    top: 514px;
  }
}
