<!--
  Generated template for the ContractWritingFinishPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div #test class="previewBox" *ngIf="isHide==0"></div>
  <ion-slides #slides *ngIf="isHide==0" (click)="hide()">
    <ion-slide *ngFor="let cur of PicNum;">
      <img src="assets/imgs/previewContract{{cur}}.png"/>
    </ion-slide>
  </ion-slides>
  <div class="selfNavBar">
    <div class="flex-grow">
      <img src="assets/imgs/leftArrow.png" alt="" back-listener="" >
    </div>
    <div class="title">填写文件信息</div>
    <div class="flex-grow flex">
      <div class="flex-grow"></div>
      <div class="save">存至草稿箱</div>
    </div>
  </div>
  <div class="textarea flex-center">
    <div margin-left="" margin-right="">文档名称</div>
    <input type="text" class="flex-grow">
    <img src="assets/imgs/download.png" alt="">
  </div>
  <div class="previewSlides">
    <ion-scroll scrollX="true" direction="x" class="scroll">
      <ion-row nowrap="true">
        <ion-col col-4 *ngFor="let cur of PicNum; let i=index">
          <img src="assets/imgs/previewContract{{cur}}.png" class="previewItem" (click)="showPic(i)">
        </ion-col>
      </ion-row>
    </ion-scroll>
  </div>
  <div class="deadline flex-verticalcenter " padding-left="" margin-top="">
    <div class="">签署截止日期</div>
    <div class="flex-grow"></div>
    <div class="itemContainer">
      <ion-item>
        <ion-datetime displayFormat="YYYY.MM.DD" min="2016" max="2020-10-31" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>
    </div>
  </div>
  <div class="signMethod flex-verticalcenter " padding-left="">
    <div class="">签署方式</div>
    <div class="flex-grow"></div>
    {{method}}
    <div class="itemContainer">
      <ion-item>
        <ion-select [(ngModel)]="method">
          <ion-option value="无序签署">无序签署</ion-option>
          <ion-option value="顺序签署">顺序签署</ion-option>
          <ion-option value="单独签署">单独签署</ion-option>
          <ion-option value="打印签署">打印签署</ion-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
  <div class="sender flex-verticalcenter " padding-left="" margin-top="">
    <div class="">发件人</div>
    <div class="flex-grow"></div>
    <div class="nameDecoration">{{partyAName}}</div>
  </div>
  <div class="receiver flex-verticalcenter " padding-left="">
    <div class="">添加收件人</div>
    <div class="flex-grow"></div>
    <div *ngFor="let item of partyBName" class="nameDecoration">{{item}}</div>
    <img src="assets/imgs/addButton.png" alt="" (click)="toAddPartyB()">
  </div>
  <div class="bottomBar flex">
    <div class="store flex-center" (click)="back()">不签署直接归档</div>
    <div class="send flex-center">发送</div>
  </div>
</ion-content>
