page-contract-management-iwriting2-go {
  .back {
    height: 50px;
  }
  .bottomBar {
    position: fixed;
    bottom: 0;
  }
  .signPic {
    position: absolute;
    left: 110px;
    top: 75px;
    width: 100px;
    height: 50px;
  }
  ion-item {
    opacity: 0;
  }
  .signDate{
    position: absolute;
    left: 60px;
    top: 156px;
    width: 100px;
    height: 33px;
    font-family: "Lucida Handwriting";
  }
}
