page-contract-writing-preview {
  .selfNavBar {
    padding: 10px;
  }
  .previewSlides {
    height: 180px;
    margin-top: 10px;
    display: flex;
    overflow: scroll;
    padding-top: 10px;
    .previewItem {

    }
  }
  .background {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}
