page-contract-writing-preview {
  .hide{
    visibility: hidden;
  }
  .selfNavBar {
    padding: 10px;
  }
  .previewBox {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: fade_out(black,0.5);

  }
  ion-slides{
    z-index: 101;
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      width: 80%!important;
    }
  }

  .previewSlides {
    height: 300px;
    display: flex;
    align-items: center;
    overflow: scroll;
    padding-top: 5px;
    .scroll{
      width: 100%;
      height: 100%;
    }

  }
  .background {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  .next{
    z-index: 100;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;

  }
}
