@import "../../app/app";
page-contract-wrting-edit-party-a {
.selfNavBar{
  border-bottom: solid 1px gainsboro;
  .helper{
    color: $myColorBlue;
  }
}
  .textarea{
    background: white;
    input{
      border: none;
    }
  }
  .bottomBar{
    height: 50px;
    color: white;
    background-color: $myColorBlue;
  }
}
