page-contract-management-iwriting2 {
    .back {
      height: 50px;
    }

    .second {
      margin-left: 260px;
    }
    .bottomBar {
      position: fixed;
      bottom: 0;
    }
    .next2{
        width: 100%;
        position: absolute;
        margin-top: 575px;
        height: 20px;
    }
}
